
<ion-content>
<ion-grid>
	
	<ion-row class="ion-align-items-center">
		<ion-col >
			col 1
		</ion-col>

		<ion-col class="ion-align-self-center">
			col 2
		</ion-col>

		<ion-col color="warning">
			col 3
		</ion-col>

		<ion-col color="danger">
			col 4
		</ion-col>
	</ion-row>

	<ion-row>
		<ion-col size="6" >
			col 1
		</ion-col>

		<ion-col >
			col 2
		</ion-col>

		<ion-col >
			col 3
		</ion-col>
	</ion-row>

	<ion-row>
		<ion-col size="3" >
			col 1
		</ion-col>

		<ion-col >
			col 2
		</ion-col>

		<ion-col size="3">
			col 3
		</ion-col>
	</ion-row>

	<ion-row class="ion-align-items-center">
		<ion-col size="6" class="ion-align-items-center" >
			col 1
		</ion-col>

		<ion-col size="6" class="ion-align-items-center">
			col 2
		</ion-col>
	</ion-row>

	<ion-row >
		<ion-col size="12" size-sm>
			col 1
		</ion-col>

		<ion-col size="12" size-sm>
			col 2
		</ion-col>

		<ion-col size="12" size-sm>
			col 3
		</ion-col>

		<ion-col size="12" size-sm>
			col 4
		</ion-col>
	</ion-row>

	<ion-row >
		<ion-col size="12" size-md>
			col 1
		</ion-col>

		<ion-col size="12" size-md>
			col 2
		</ion-col>

		<ion-col size="12" size-md>
			col 2
		</ion-col>

		<ion-col size="12" size-md>
			col 2
		</ion-col>
	</ion-row>

	<ion-row >
		<ion-col size="6" size-lg>
			col 1
		</ion-col>

		<ion-col size="6" size-lg>
			col 2
		</ion-col>

	</ion-row>
</ion-grid>
</ion-content>