<ion-header>
	<ion-toolbar>
		<ion-title>
			Inputs
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-item>
		<ion-label position="floating">FName</ion-label>
		<ion-input type="search"   clear-input="true"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label position="fixed">LName</ion-label>
		<ion-input autocorrect="on" clearInput></ion-input>
	</ion-item>

	<ion-item>
		<ion-label position="stacked">Email</ion-label>
		<ion-input  clearInput autocomplete="on"></ion-input>
	</ion-item>

	<ion-item>
		
		<ion-input type="file" accept=".pdf" multiple="true"></ion-input>
	</ion-item>
</ion-content>



